.container{
    position: fixed;
    height: 50px;
    width: 450px;
    opacity: 0.75;
    top: 0;
    z-index: 999;
    color: #fff;
    line-height: 50px;
    text-align: center;
}
@keyframes fadeio {
    /*设置内容由显示变为隐藏*/
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes fadeio {
    /*设置内容由显示变为隐藏*/
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes fadeio {
    /*设置内容由显示变为隐藏*/
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes fadeio {
    /*设置内容由显示变为隐藏*/
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.sentence-content-flash {
    animation: fadeio 0.5s infinite;
    -webkit-animation: fadeio 0.5s infinite;
    -moz-animation: fadeio 0.5s infinite;
    -o-animation: fadeio 0.5s infinite;
}
